# Nginx SSL Certificates
nginx/ssl/*
!nginx/ssl/.gitkeep
nginx/logs/*

# Environment files
.env
*.pem
*.key
*.crt
*.csr
*.p12
*.pfx

# Logs
*.log

# Docker
.docker/ 

# Ansible
*.ini
.vault_pass

# Terraform
variables.auto.tfvars

# Pi-hole
pihole/config/custom.list

# PXE Boot
pxe-boot/share/*

# VIM
*.swp
*.swo
*.swn
*.swnx

# MacOS
.DS_Store