# tun2socks environment configuration
# Based on: https://habr.com/ru/articles/759554/

# Shadowsocks server details (EU server)
SSIP={{ shadowsocks_server_ip }}
SSPORT={{ shadowsocks_config.server_port }}
SSPASSWORD={{ shadowsocks_config.password }}

# Local server details
LOCAL_IP=192.168.0.33
TUN_INTERFACE=tun0 