# WireGuard UI Configuration
BIND_ADDRESS=0.0.0.0:{{ wg_ui_config.port }}
SESSION_SECRET={{ wg_ui_config.session_secret }}
WGUI_USERNAME={{ wg_ui_config.admin_username }}
WGUI_PASSWORD={{ wg_ui_config.admin_password }}
WG_CONF_TEMPLATE=/etc/wireguard/{{ wireguard_config.interface }}.conf
WGUI_MANAGE_START=true
WGUI_MANAGE_RESTART=true 