# Pi-hole Environment Variables
# Copy this file to .env and set your values

PIHOLE_ADMIN_PASSWORD=your-secure-password
PIHOLE_TIMEZONE=UTC
PIHOLE_SERVER_IP=xxx.xxx.xxx.xxx
PIHOLE_DOMAIN='local'