---
present_users:
  - name: user_to_add
    shell: /bin/bash
    ssh_key: "ssh-rsa AAAAB3NrmhcxxAAXXXXAaXXX= xxx@xx.xx"
    aliases:
      - ll='ls -alF --color=auto'
      - gs='git status'
  - name: user_to_add_2
    shell: /bin/bash
    ssh_key: "ssh-rsa AAAAB3NrmhcxxAAXXXXAaXXX= xxx@xx.xx"

absent_users:
  - user_to_remove
  - user_to_remove_2