#cloud-config
# System Information
hostname: ubuntu-template
manage_etc_hosts: true

# User Configuration
users:
  - name: {{ cloud_init_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
    {% for key in cloud_init_ssh_keys %}
      - {{ key }}
    {% endfor %}

# Package Configuration
package_update: true
package_upgrade: true
package_reboot_if_required: true
packages:
  - qemu-guest-agent
  - curl
  - wget
  - git
  - vim
  - htop
  - net-tools
  - dnsutils
  - ufw
  - fail2ban

# System Configuration
timezone: UTC
locale: en_US.UTF-8
keyboard:
  layout: us
  variant: ""

# Security Configuration
ssh_pwauth: false
disable_root: true

# Final Configuration
power_state:
  mode: reboot
  delay: 1
  message: Rebooting machine after initial configuration
